body {
    background-color: rgb(201, 201, 201);
}

html {
    scroll-behavior: smooth;
}


.sphere {
    fill: blue;
}
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
  }

.country {
    stroke: black;
    stroke-width: 0.3px;
}

.country:hover {
    fill: white;
}

.white {
    fill: #fff;
    color: white;
}

#mapContainer {
    display: block;
    margin: auto;
}

#mapSvg {
    border-color: black;
    border-width: medium;
    border-style: double;
}

svg {
    display: block;
    margin: auto;
    width: 90%;
    justify-content: center;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line{
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.line{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.5;
}

.center {
    margin: auto;
    width: 50%;
    padding: 15px;
    text-align: center;
}

.margin {
    margin: 15px;
}